div#calendar{
	margin:0px auto;
	margin-top:10px;
	padding:0px;
	width: auto;
	font-family: Helvetica, "Times New Roman", Times, serif;
}


div#calendar div.box{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:40px;
	background-color: #787878;
}

div#calendar div.header{
	line-height:40px;
	vertical-align:middle;
	position:absolute;
	left:5px;
	top:0px;
	width: -moz-calc(100% - 10px);
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
	height:40px;
	text-align:center;
}

div#calendar div.header a.prev, div#calendar div.header a.next{
	position:absolute;
	top:0px;
	height:17px;
	display:block;
	cursor:pointer;
	text-decoration:none;
	color:#FFF;
}

div#calendar div.header span.title{
	color:#FFF;
	font-size:18px;
}

div#calendar div.header a.prev{
	left:0px;
}

div#calendar div.header a.next{
	right:0px;
}







div#calendar div.box-content{
	border:1px solid #787878;
	border-top:none;
}

div#calendar ul.label{
	float:left;
	margin:0px;
	padding:0px;
	margin-top:5px;
	margin-left:5px;
}

div#calendar ul.label li{
	margin:0px;
	padding:0px;
	margin-right:5px;
	float:left;
	list-style-type:none;
	width:57.8px;
	height:30px;
	line-height:40px;
	vertical-align:middle;
	text-align:center;
	color:#000;
	font-size:15px;
	background-color:transparent;
}

div#calendar ul.dates{
	float:left;
	margin:0px;
	padding:0px;
	margin-left:5px;
	margin-bottom:5px;
}

div#calendar ul.dates li{
	margin:0px;
	padding:0px;
	margin-right:5px;
	margin-top:5px;
	line-height:58px;
	vertical-align:middle;
	float:left;
	list-style-type:none;
	width:57.8px;
	height:57.8px;
	font-size:25px;
	background-color:#DDD;
	color:#999999;
	text-align:center;
}

div#calendar ul.dates li.mask{
	background-color:#bfbfbf;
}

:focus{
	outline:none;
}

div.clear{
	clear:both;
}

li a{
	display:block;
}

a:link, a:visited{
	text-decoration:none;
}
a:hover, a:active{
	background-color:#f2f3f2;
}

#calendar-widget{
	min-width:479.5px;
	max-width:479.5px;
}

#back-to-current{
	margin-top:10px;
	text-align:center;
	vertical-align:center;
}

div#week{
	margin-top:53px;
	width:1300px;
}


div#week div.table-box td{
	width:150px;
	text-align:center;
	vertical-align:middle;
}

div#week thead td{
	background-color:#787878;
	color:#FFF;
	font-family: Helvetica, "Times New Roman", Times, serif;
}

.schedule-rows td {
  width: 80px;
  height: 30px;
  margin: 3px;
  padding: 5px;
  background-color: #3498DB;
  cursor: pointer;
}

.schedule-rows td:first-child {
  background-color: transparent;
  text-align: right;
  position: relative;
  top: -12px;
}

.schedule-rows td[data-selected],
.schedule-rows td[data-selecting] { background-color: #E74C3C; }

.schedule-rows td[data-disabled] { opacity: 0.55; }
