html, body, .container, .row{
	height:100%;
}
.row{
	background-color:#F2F2F2;
	border-left:solid black 1px;
	border-right:solid black 1px;
}
.jumbotron{
	background-color:transparent !important;
}

.asterisk{
    color:red;
}

.tweaked-margin{
	margin-left:5px;
}

#invalid-username-pw{
	color:red;
	font-weight:bold;
	position:absolute;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

#h3-registration{
	color:green;
	font-weight:bold;
}

.rounded-registration{
	border-radius: 10px;
	border: 3px solid #73AD21;
	background:white;
	padding: 20px;
	text-align: center;
}